/*
gris oscuro=#1df252c;
gris oscuro-claro=#626262;
gris claro=#fafafa;
background gris=#1b2127;
celeste=#026fff;
*/
/*  REGLAS GENERALES*/
body{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    /* font-family: 'Fjalla One' Arial, Helvetica, sans-serif; */
    font-family:    'Fjalla One',Arial,sans-serif;
    font-weight:    nomal;
}
h2{
    text-transform: uppercase;
    color: #026fff;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

figure{
    margin: 0;
}
ol,
ul{
    margin: 0;        /*Remueve los margenes*/
    padding: 0;       /*quita la separación interna*/
    list-style: none; /*Remueve las viñetas de las anclas*/
}

/* SECTIONS HEADER */

.header{
    height: 50px;
    background-color: #1b2127;    /*color de fondo*/
    display: flex;                  /*Organiza los elementos hijos directos de manera felxible*/
    justify-content: space-between; /*Justifica los elementos hijos de forma horizontal*/
    flex-wrap: wrap;
    z-index:99;/*La z-indexpropiedad especifica el orden de superposición 
    de los elementos posicionados. Los elementos con una mayor z-indexvoluntad, 
    por lo tanto, siempre estarán frente a los elementos con una menor z-index.
    Al establecer el z-indexvalor en un valor mayor que (o incluso igual a) 0,
    se establece que el elemento esté encima de los elementos no posicionados 
    sin z-indexespecificar. Siempre se puede establecer en un valor inferior a 99,
    pero es una práctica común evitar posibles choques con otros elementos 
    posicionados.*/
    

     /*Fijar cabecera*/
     width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
     left: 0; /* Posicionamos la cabecera al lado izquierdo */
     top: 0; /* Posicionamos la cabecera pegada arriba */
     position: fixed; /* Hacemos que la cabecera tenga una posición fija */
     box-shadow: 0px 11px 5px -4px rgba(0,0,0,0.75);
}
.header nav{
    height: inherit;
}
.header nav ol {
    height: inherit;
    display: flex;
}
.header nav ol li{
    height: inherit;
}
.header nav ol li a{
    height: inherit;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/*SECTION HERO*/
h1{
    margin: 0px 510px 1px 1px;  /*Evita el margin collasing con la imagen de fondo*/
    color: white;             /*color de  la fuente  blanco*/
    font-size:      40px;       /*tamaño de la fuente */
    line-height:    1.5;        /*Separación del texto entre lineas*/
    letter-spacing: -0.2px;     /*Separacion entre letras*/
    text-transform: capitalize; /*Permite que el comienze por mayúscula*/
}
h1 strong {
    color:#026fff;
}
.hero{
    /* margin-top: 80px;   */
    height: 300px;
    background-color: #1b2127;
    background-image: url('../img/hero.jpg');       /*Establece una imagen de fondo */
    background-size: 500px 300px;                   /*Establece el tamaño de la img de fondo*/
    background-repeat: no-repeat;                   /*Establece la repetición de la img como nula*/
    background-position-x: right;                   /*Establece la  la posición de la imagen de  lado derecho*/
    display: flex;
    align-items: center;

    
}
/*SECTION PROJECT*/
.section-portfolio{
    background-color:#fafafa;
    padding: 20px;
}

.project{
    margin-bottom: 50px;
    padding: 40px;                    /*Sangria del contenido interno*/
    border: 1px solid gray;         /*Se establece el borde*/
    border-radius: 10px;              /*Redondeo de las esquinas*/
    background-color: white;        /*Color de fondo*/
    box-sizing: border-box;           /* para mantener el tamaño de la caja independiente del padding o border */
    box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);         /*Se define  la sombra de la caja*/
    display: flex;
    justify-content: space-between; /*alineacion horizontal del  display flex, crea un espacio entre elementos*/
    align-items: center;            /*alineacion verticl del display flex, centra los elementos verticalmente*/

}
.project strong{
    font-family:    'Fjalla One',Arial,sans-serif;

}
.project-details{
    width: 500px;               /*El ancho  del elemento*/
    /* display:inline-block    /*este tipo de display sólo ocupa el ancho asignado en el width*/
}
.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom:10px; 
}
.project-course{
    margin: 10px 0px;
}
.project-date{
    margin: 10px 0px;
}
.project-url{
    margin: 10px 0px;
}
.project-description{
    font-size: 20px;
}
.project-image-containers{
    width: 500px;               /* el ancho  del elemento*/
/*     display:inline-block    este tipo de display sólo ocupa el ancho asignado en el width*/ 
}
/*SECTION EVENT*/
.event-section-title{
    margin-left:20px;
    
}
.section-events {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color:#fafafa;
  padding: 20px;
}
.event{
    border: 1px solid #1b2127;
    width: 480px;
    margin: 10px;
    border-radius: 10px; /*Borde redondeados*/
    flex-shrink: 0;     /*EL elemento no es encogible*/
    overflow: hidden;   /*Cualquier elemento que se desborde se oculta*/
}
.event img{
    width:480px;
    height: 200px;
    object-fit: cover; /*El img ocupa el mismo valor 
    de width y hight sin distorision pero se va comiendo la imagen*/

}
 .event-detail{
     margin: 20px 40px;
     margin-top: -40px;
     background-color: white;
     position: relative;
     padding: 20px;
     text-align: center;
     background-color: #fafafa;
 }
 .event-title {
     text-align: center;
 }
.event-desciption{
    text-align: left;
}
.event-url{
    color:#026fff;
    border: 1px solid #026fff;
    padding: 5px 20px;
    text-decoration: none;

}
/*SECTION CONTACT*/
.section-contact{
    height: 200px;
    background-color: #026fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.form-email{
    padding: 0px 50px;
}
.form-email input{
    
    height: 25px;
    border-color:white;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 10px 5px 40px; /*Permite que el texto tenga un espacio*/
    background-image: url('../img/envelope.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
}
.form-email button{
    margin-top:25px;
    margin-bottom: 25px;
    display: block;
    height: 38px;
    width: 150px;
    color:white;
    border-color:white;
    border-style: solid;
    border-radius: 10px;
    background-color: #026fff;

}
.section-contac-title{
    color: white;
}

.social-link{
    margin: 0px 30px;
    display: inline-flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
}
.social-link.twitter{
    background-image: url('../img/twitter.svg');
    background-size: 50px 50px;
    background-repeat: no-repeat;
 
}
.social-link.facebook{
    background-image:url('../img/facebook.svg');
    background-size: 50px 50px;
    background-repeat: no-repeat;
}
.social-link.instagram{
    background-image:url('../img/instagram.svg');
    background-size: 50px 50px;
    background-repeat: no-repeat;
}
.social-link.github{
    background-image: url('../img/github.svg');
    background-size: 50px 50px;
    background-repeat: no-repeat;
}


/*SECTION FOOTER*/
.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    justify-content: space-between;
    align-items: center;    /*alineacion verticl del display flex, centra los elementos verticalmente*/
}
.footer  img{
    vertical-align: middle; /* alineación del display flex de forma vertical  cuando existe un img, */
    margin: 0;
}
.footer p a{
    color: white;
    text-decoration: none
}
